* {
    box-sizing: border-box;
}

body {
    font-family: "work sans" , sans-serif;
}

header {
    background-color: rgb(233, 233, 233);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    z-index: 999;
}
.logo {
    text-decoration: none;
    color:rgb(16, 15, 116);
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
}
.navigation a{
    text-decoration: none;
    color: rgb(16, 15, 116);
    font-weight: 300;
    font-size: 1.3em;
    margin-left: 10px;
}
.navigation a:hover{
    color: rgba(85, 82, 241, 0.801);
    font-weight: 500;
}
section{
    padding: 100px 200px;
}
.main {
    width: 100%;
    background-color: rgb(16, 10, 70);
    height: 100vh;
}
.main h2{
    color: white;
    font-size: 1.5em;
}
.main h2 span {
    display: inline-block;
    color: #284bd5;
    font-size: 1.9em;
    margin-top: 10px;
    letter-spacing: 2px;
}
.main-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    background-color: #284bd5;
    border-radius: 10px;
    padding: 8px;
    transition-duration: 0.8s;
    letter-spacing: 1px;
}
.main-btn:hover {
    background-color: #1e3592;
    padding: 15px;
    font-size: 1.7em;
}
.social-links {
    margin-top: 20px;
    
}
.social-links a {
    margin-left: 10px;
    color: white;
    font-size: 1.5em;
}
.services h3 {
    color: rgb(16, 15, 116);
    font-weight:800;
    letter-spacing: 1px;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.service-card {
    width: 21em;
    box-shadow: 0 5px 10px rgba(61, 61, 61, 0.205);
    text-align: center;
    margin-right: 30px;
    padding: 15px;
    border-radius: 10px;
    transition-duration: 0.8s;
}
.service-card:hover {
    transform: scale(1.2) ;
}
.service-card i {
    font-size: 8em;
    color: rgb(22, 20, 162);
}
.service-card p span {
    color: rgba(41, 39, 240, 0.87);
    font-weight: 800;
    font-size: 1.4em;
    margin: 20px;
    display: inline-block;
}
.projects {
    width: 100%;
    /* height: 100vh; */
    background-color:#081e72;
}
.projects h3 {
    color: rgb(216, 216, 255);
    font-weight:800;
    letter-spacing: 1px;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.project-card {
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: 0 10px 15px rgba(168, 165, 165, 0.46);
    border-width: 10px;
    border-style: solid;
    border-color:black;
    border-radius: 15px;
    width: 22em;
    transition: 0.7s ease;
    overflow: hidden;
}
.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-img {
    opacity: 0.9;
}
.project-img img {
    border-radius: 10px;
    width: 22em;
    object-fit:cover;
}

.project-discription {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    overflow: hidden;
}
.project-category {
    color: rgb(16, 15, 116);
    margin-left: 5px;
}
.project-discription strong{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.project-name {
    color: rgb(16, 15, 116);
    font-weight: 700;
    font-size: 1.2em;
}
.more-details {
    text-decoration: none;
    color:#364afd;
    transition-duration: 0.5s;
}
.more-details:hover {
    color:#6675fc;
    transform: scale(1.1);
}
.contact h3 {
    color: rgb(16, 15, 116);
    font-weight:800;
    letter-spacing: 1px;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.contact-card {
    width: 21em;
    box-shadow: 0 5px 10px rgba(61, 61, 61, 0.205);
    text-align: center;
    margin-right: 30px;
    padding: 15px;
    border-radius: 10px;
    transition-duration: 0.8s;
}
.contact-card:hover {
    transform: scale(1.2);
}
.contact-card i {
    font-size: 5em;
    color: rgb(22, 20, 162);
}
.contact-card p span {
    color: rgba(41, 39, 240, 0.87);
    font-weight: 800;
    font-size: 1.4em;
    margin: 20px;
    display: inline-block;
}
.foot {
    width: 100%;
    background-color: rgb(16, 10, 70);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.copy-rights p {
    color: #5174ff;
}
.copy-rights p span {
    color: #fff;
    font-weight: 600;
    font-size: 1.3em; 
}